{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{{super()}}
<div class="page-header">
  {% if name %}
        <h2> Hello {{ name|capitalize }}</h2>
    {%else%}
    <h2>Hello Stranger</h2>
    {%endif%}
    <ul>UTC time right now is {{current_time.strftime('%B %d %Y - %H:%M:%S')}}</ul>
    <ul>The local time is {{moment(current_time).format('LLL')}}</ul>
    <ul>The local time is {{moment(current_time).fromNow(refresh=True)}}</ul>
    {{ wtf.quick_form(form)}}
</div>
{% endblock %}